# Editor config
.vs/
.vscode/

# LaTeX auxiliary files
*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.synctex.gz
*.bcf
*.lol
main-blx.bib
main.fdb_latexmk
main.fls
main.run.xml
main.pdf

# LaTeX special files
Base/author_info.tex